.wrappercareer {
  text-align: center;
  min-height: 100%;
  /* margin-right: 30px; */
  align-items: center;
}

.toptitle {
  text-align: center;
}
.spacer {
  margin: 10px;
}

.buttonspacer {
  margin-top: 50px;
}

.spacer_bottom {
  margin-bottom: 50px;
}
.profiletext {
  font-size: 24px;
  color: grey;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 16px;
  /* width: 650px; */
}
.text {
  font-size: 16px;
  color: grey;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 8px;
}
.wrapper {
  /* height: 100vh; */
  /* display: flex; */
  /* padding-top: 10%; */
  /* margin-top: 120px; */
  justify-content: center;
  align-items: center;
}

.icon {
  grid-area: icon;
  height: 100%;
  text-align: center;
}

.profile {
  grid-area: profile;
  white-space: pre-wrap;
  margin: auto 0;
  /* text-align: center; */
}

.profile_c {
  padding: 10px;
  text-align: left;
}

.circle {
  border-radius: 9999px;
}

.icons {
  margin-bottom: 16px;
}

.btnCircleBorderSimple {
  background: gray;
  color: #fff;
  border: none;
  position: relative;
  height: 60px;
  width: 240px;

  font-size: 1.6em;
  padding: 0 2em;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
}
.btnCircleBorderSimple:hover {
  background: #fff;
  color: gray;
}
.btnCircleBorderSimple:before,
.btnCircleBorderSimple:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: gray;
  transition: 400ms ease all;
}
.btnCircleBorderSimple:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.btnCircleBorderSimple:hover:before,
.btnCircleBorderSimple:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

.buttons {
  /* display: inline-flex; */
  /* justify-content: center; */
  margin: 40px 0;
}

@media screen and (min-width: 900px) {
  .wrapper {
    margin-top: 240px;
    height: 100%;
  }
  .container {
    display: grid;
    grid-template-areas: 'icon   profile';
    grid-template-columns: 1fr 1.5fr;
    margin-top: 72px;
    margin-bottom: 72px;
  }
  .profiletext {
    width: 90%;
    font-size: 32px;
  }
  .profile_c {
    width: 90%;
  }
  .buttons {
    display: inline-flex;
  }
  .buttonspacer {
    margin: 0 50px;
  }
  .text {
    font-size: 24px;
  }
}

@media screen and (max-width: 770px) {
  .profile_c {
    width: 80%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 900px) {
  .wrapper {
    padding-top: 160px;
    height: 100%;
    width: 90%;
    text-align: center;
    margin: 0 auto;
  }
}
