.wrappercareer {
  text-align: center;
  /* margin-right: 30px; */
  align-items: center;
}

.jobtext {
  font-size: 24px;
  color: grey;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 16px;
  /* width: 650px; */
}

.text {
  font-size: 16px;
  color: grey;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 8px;
}

.corp {
  margin-bottom: 16px;
}
.corpspacer {
  margin-bottom: 16px;
}
.corpicon {
}

.corptext {
}
.spacer_bottom {
  margin-top: 50px;
}

@media screen and (min-width: 900px) {
  .wrappercareer {
    margin-top: 100px;
    height: 100vh;

    /* margin: 0 auto; */
  }
  .jobtext {
    font-size: 32px;
  }
  .text {
    font-size: 24px;
  }
  .corp {
    display: grid;
    grid-template-areas: 'corpicon   corptext';
    grid-template-columns: 1fr 3fr;
    margin: 20px;
    /* text-align: center;
    justify-content: center; */
    margin-left: 200px;

    /* margin: 0 auto; */
  }

  .corpicon {
    grid-area: corpicon;
    /* border-radius: 9999px; */
    object-fit: contain;
  }

  .corptext {
    grid-area: corptext;
    font-size: 24px;
    display: flex;
    align-items: center;
    padding: 24px;
    white-space: pre-wrap;
    /* width: 800px; */
    width: 720px;
  }
}
@media screen and (max-width: 770px) {
  .corptext {
    width: 80%;
    margin: 0 auto;
  }
}
