.container {
  /* height: 100vh; */
  margin-top: 100px;

  color: grey;
  font-family: 'Times New Roman', Times, serif;
  /* margin: 0 auto; */
}
.wrappercareer {
  text-align: center;
  /* margin-right: 30px; */
  align-items: center;
}
.wrapmap {
  text-align: left;
}
.spacer {
  padding-bottom: 12px;
}
.name {
  font-size: 20px;
}
.text {
  padding-left: 20px;
}
.jobtext {
  font-size: 32px;
  margin-bottom: 16px;
  /* width: 650px; */
  margin-top: 16px;
}
@media screen and (min-width: 768px) {
  .container {
    margin-left: 100px;
    margin-right: 100px;
  }
}
@media screen and (max-width: 900px) {
  .jobtext {
    font-size: 24px;
  }
}
